---
import WhatsAppIcon from "@assets/icons/whatsapp.svg";
const { product } = Astro.props;

const whatsappMessage = `Hola, me interesa el producto ${product.name} (${product.price}). ¿Podrías darme más información?`;
const whatsappLink = `https://wa.me/+51932095750?text=${encodeURIComponent(whatsappMessage)}`;
---

<div
  class="w-64 flex-shrink-0 bg-white border border-gray-200 rounded-xl shadow-lg hover:shadow-xl transition duration-300 overflow-hidden"
>
  <img
    src={product.image}
    alt={`Imagen de ${product.name}`}
    class="w-full h-40 object-cover rounded-t-xl"
  />
  <div class="p-4 space-y-3">
    <h4 class={`font-bold text-lg text-[#007872]`}>{product.name}</h4>
    <p class="text-sm text-gray-600 h-10 overflow-hidden">
      {product.description}
    </p>
    <div
      class="flex justify-between items-center pt-2 border-t border-gray-100"
    >
      <span class="text-xl font-extrabold text-orange-500">{product.price}</span
      >
      <a
        href={whatsappLink}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 px-4 py-2 rounded-full bg-[#25D366] text-white font-semibold text-sm shadow-lg shadow-green-600/30 hover:bg-[#1DA851] transition transform hover:scale-105"
        aria-label={`Pedir ${product.name} por WhatsApp`}
      >
        <WhatsAppIcon class="w-5 h-5" />
        Pedir
      </a>
    </div>
  </div>
</div>
